<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .mg {
            margin-top: 1px;
        }
        #rs{
            margin-right:5px;
            margin-left:5px;
        }
        #q{
            margin-right:0 !important;
            margin-left:0;
        }
        #SearchResualt{
            right: 0;
            left: 0;
            display: block;
            position: absolute;
            background: aliceblue;
            text-align: center;
        }
        .list-group-item {
            
            position: relative;
            display: block;
            padding: .75rem 1.25rem;
            background-color: aliceblue; 
            border: none; 
        }
        span {
            color: black;
            font-weight: 700;
            /* border-bottom: 2px solid; */
            /* width: 100%; */
        }
        hr {
            margin-top: 1rem;
            margin-bottom: ;
            border: 0;
            border-top: 3px solid rgba(0,0,0,.1);
        }
    </style>
</head>
<body>

        @RenderBody()

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>